@page
@model EAHSA.Pages.Admin.IDModel
@{
    Layout = "_AdminLayout";
}

<h2>ID Management</h2>
<p>ID creation and viewing page.</p>

<a href="/Users/Scan" class="btn btn-primary">
    Scan Student ID
</a>